@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sheikh's Portal</h1>
    <hr />
    <img src="~/image/github.png" />
    <a href="https://github.com/reshmasheik2411/basicDotNetWebApplication" target="_blank">&nbsp&nbsp Assignment Code</a>
</div>
